/* 게임 UI에 가장 잘 어울리는 세련된 '쿠키런' 폰트 */
@font-face {
  font-family: 'CookieRun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
